on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test latest main commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Test commit
        shell: bash
        run: test/bats/bin/bats test
